<% include ../discovery_page.html%>
<% if(users.length>0) { %>
<!-- for debugging -->
<% console.log('ejs is called') %> 

 <section>
        <div class="row" id="current_users">
    <% users.forEach((user) => { %>
   
            <div class="column" style="background-color:#aaa;">
                <div id="circle">
                        <div id="text"><%= user.username.substring(0,1).toUpperCase() %>
                        </div>
                </div>
                <div></div>
                <h1 style="text-align:center;"> <a href="id"><%= user.username %></a></h1>
            </div>
     
          <% }) %>
      </div>
     </section>
<% } else { %>
    No Users to Display!
  <% } %>