* {
    box-sizing: border-box;
  }
  /* Title */ 
  #title {
    margin-top: 5%;
    font-family:'Carrois Gothic', sans-serif;
    font-display: bold;
    font-size: 50pt;
    color: #3C5671;
  }

  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 32.3%;
    padding: 10px;
    margin: 0.5%;
    border-radius: 10px;
    font-family:'Carrois Gothic', sans-serif;
  }
   
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    font-family:'Carrois Gothic', sans-serif;
  }
   
  /* For circle with initial */
  #circle {
    position: relative;
    background-color: #3C5671;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  #text {
    position: relative;
    font-size: 30pt;
    font-family: Impact, Charcoal, sans-serif;
    top: 50%;
    left: 91%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
   
   
   
  /* search bar */
  *
  {
      outline: none;
  }
   
  html, body
  {
      height: 100%;
      min-height: 100%;
  }
   
  body
  {
      margin: 0;
      background-color: white;
  }
   
  .tb
  {
      display: table;
      width: 100%;
  }
   
  .td
  {
      display: table-cell;
      vertical-align: middle;
  }
   
  input, button
  {
      color: #e16868;
      font-family: 'Carrois Gothic', sans-serif;
      padding: 0;
      margin: 0;
      border: 0;
      background-color: transparent;
  }
   
  #cover
  {
      position: relative;
      top: 2%;
      left: 0;
      right: 0;
      width: 1200px;
      padding: 8px;
      margin: -20px auto;
      margin-bottom: 70px;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
      transform: scale(0.6);
  }
   
  form
  {
      height: 96px;
  }
   
  input[type="text"]
  {
      width: 100%;
      height: 96px;
      font-size: 40px;
      line-height: 1;
      padding-left: 25px;
  }
   
  input[type="text"]::placeholder
  {
      color: #e16868;
  }
   
  #s-cover
  {
      width: 1px;
      padding-left: 35px;
  }
   
  button
  {
      position: relative;
      display: block;
      width: 84px;
      height: 96px;
      cursor: pointer;
  }
   
  #s-circle
  {
      position: relative;
      top: -8px;
      left: 0;
      width: 43px;
      height: 43px;
      margin-top: 0;
      border-width: 15px;
      border: 15px solid #ff7575;
      background-color: transparent;
      border-radius: 50%;
      transition: 0.5s ease all;
  }
   
  button span
  {
      position: absolute;
      top: 68px;
      left: 43px;
      display: block;
      width: 45px;
      height: 15px;
      background-color: transparent;
      border-radius: 10px;
      transform: rotateZ(52deg);
      transition: 0.5s ease all;
  }
   
  button span:before, button span:after
  {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 45px;
      height: 15px;
      background-color: #ff7575;
      border-radius: 10px;
      transform: rotateZ(0);
      transition: 0.5s ease all;
  }
   
  #s-cover:hover #s-circle
  {
      top: -1px;
      width: 67px;
      height: 15px;
      border-width: 0;
      background-color: #ff7575;
      border-radius: 20px;
  }
   
  #s-cover:hover span
  {
      top: 50%;
      left: 56px;
      width: 25px;
      margin-top: -9px;
      transform: rotateZ(0);
  }
   
  #s-cover:hover button span:before
  {
      bottom: 11px;
      transform: rotateZ(52deg);
  }
   
  #s-cover:hover button span:after
  {
      bottom: -11px;
      transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before, #s-cover:hover button span:after
  {
      right: -6px;
      width: 40px;
      background-color: #ff7575;
  }
   
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }